//
//  Config.xcconfig
//  loginsystem
//
//  Created by prchou on 2025/8/31.
//


DATABASE_HOSTNAME=localhost
DATABASE_PORT=3307
DATABASE_USERNAME=DevChou
DATABASE_PASSWORD=DevChou
DATABASE_DATABASE=TaskTrackerDB

JWT_ISSUER=AuthService
JWT_AUDIENCE=""
JWT_ACCESS_EXPIRY=3600
JWT_SIGNIN_KEY=default-signin-key
JWT_REFRESH_EXPIRY=604800

USER_MAIN_TABLE=TK_USER
JWT_TABLE=JWT_REFRESH_TOKENS

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URL=
DISCORD_TOKEN_URL=
DISCORD_USER_PROFILE_URL=https://discord.com/api/users/@me"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
GOOGLE_TOKEN_URL=
GOOGLE_USER_PROFILE_URL=https://www.googleapis.com/oauth2/v3/userinfo"
